<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Estate | User Informations</title>
    <%- include('./layouts/imports.ejs') %>
  </head>
  <body>
    <%- include('./layouts/navbar.ejs') %>

    <div class="container-md py-3 my-4">
      <form
        action="/accounts/<%= currentUser %>?_method=PUT"
        method="POST"
        class="p-3 row bg-white shadow-sm"
      >
        <!-- User Informations -->
        <div class="col-md-6 my-3">
          <h1 class="fs-3">User Informations</h1>

          <!-- Fullname Area -->
          <div class="input-group mt-3">
            <span class="input-group-text bg-danger text-white">
              <i class="fa-solid fa-user"></i>
            </span>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="fullName"
                placeholder="Full Name"
                value="<%= fullName %>"
                required
              />
              <label for="fullName">Full Name</label>
            </div>
          </div>
          <% if(fullNameError){ %>
          <p class="text-danger"><%= fullNameError %></p>
          <% } %>
          <!-- Fullname Area End -->

          <!-- Email Area -->
          <div class="input-group mt-3">
            <span class="input-group-text bg-danger text-white">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                value="<%= email %>"
                disabled
              />
              <label for="email">Email</label>
            </div>
            <a
              href="/accounts/want-reset/<%= email %>"
              class="change-buttons input-group-text btn btn-outline-danger d-flex align-items-center"
              >Change</a
            >
          </div>
          <!-- Email Area End -->

          <!-- Phone Area -->
          <div class="input-group mt-3">
            <span class="input-group-text bg-danger text-white">
              <i class="fa-solid fa-phone"></i>
            </span>
            <div class="form-floating">
              <input
                type="tel"
                class="form-control"
                name="phone"
                placeholder="Phone"
                value="<%= phone %>"
                required
              />
              <label for="phone">Phone</label>
            </div>
          </div>
          <% if(phoneError){ %>
          <p class="text-danger"><%= phoneError %></p>
          <% } %>
          <!-- Phone Area End -->

          <!-- Password Area -->
          <div class="input-group mt-3">
            <span class="input-group-text bg-danger text-white">
              <i class="fa fa-lock"></i>
            </span>
            <div class="form-floating">
              <input
                class="form-control password"
                type="password"
                name="password"
                placeholder="Password"
                value="<%= password %>"
                disabled
              />
              <label for="password">Password</label>
            </div>
            <a
              href="/accounts/want-reset/<%= email %>"
              class="change-buttons input-group-text btn btn-outline-danger d-flex align-items-center"
              >Change</a
            >
          </div>
          <!-- Password Area End -->

          <button class="btn btn-danger form-control mt-3" type="submit">
            Save
          </button>
        </div>
        <!-- User Informations End -->

        <!-- Company Informations -->
        <% if(isCorporate){ %>
        <div class="col-md-6 my-3">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <div>
              <h2 class="fs-3">Company Informations</h2>

              <!-- Error Message -->
              <% if(message){ %>
              <div class="bg-text-danger py-2 mt-3">
                <p class="fs-5 mt-1 fw-light"><%= message %></p>
              </div>
              <% }else{ %>
              <div class="py-2 mt-3" id="message">
                <p class="fs-5 mt-1 fw-light">
                  * Make sure you have entered all the information correctly. *
                </p>
              </div>
              <% } %>
              <!-- Error Message -->
              
            </div>

            <!-- Image -->
            <div class="mini-image-area">
              <img
                class="mini-image"
                id="userPhoto"
                src="<%= imageUrl ? imageUrl : 'https://res.cloudinary.com/dtzs4c2uv/image/upload/v1666328190/noimage_j26tne.png' %>"
                alt="user-image"
              />
            </div>
            <!-- Image -->
          </div>

          <!-- Upload Image -->
          <textarea hidden id="userImageUrl" name="img"></textarea>
          <div class="input-group mt-2">
            <input
              type="file"
              class="form-control py-3"
              accept="image/*"
              id="userImage"
              placeholder="Company Logo"
            />
            <label class="input-group-text text-bg-danger" for="userImage">
              <button class="btn btn-danger" type="submit">Upload Logo</button>
            </label>
          </div>
          <!-- Upload Image End -->

          <!-- Company Name -->
          <div class="input-group mt-3">
            <span class="input-group-text bg-danger text-white">
              <i class="fa-solid fa-building"></i>
            </span>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="companyName"
                id="companyName"
                placeholder="Company Name"
                value="<%= companyName %>"
              />
              <label for="companyName">Company Name</label>
            </div>
          </div>
          <% if(companyNameError){ %>
          <p class="text-danger"><%= companyNameError %></p>
          <% } %>
          <input
            type="text"
            hidden
            name="oldCompanyName"
            value="<%= companyName %>"
          />
          <!-- Company Name End -->

          <!-- Company Address -->
          <div class="input-group mt-3">
            <span class="input-group-text bg-danger text-white">
              <i class="fa-solid fa-location-dot"></i>
            </span>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="companyAddress"
                id="companyAddress"
                placeholder="Company Address"
                value="<%= companyAddress %>"
              />
              <label for="companyAddress">Company Address</label>
            </div>
          </div>
          <% if(companyAddressError){ %>
          <p class="text-danger"><%= companyAddressError %></p>
          <% } %>
          <!-- Company Address End -->

          <button class="btn btn-outline-danger form-control mt-3" type="reset">
            Reset
          </button>
        </div>
        <% }else{ %>
        <!-- Images -->
        <div class="col-md-6 my-3">
          <div class="image-area mt-2 pt-2">
            <img
              class="user-photo"
              id="userPhoto"
              src="<%= imageUrl ? imageUrl : 'https://res.cloudinary.com/dtzs4c2uv/image/upload/v1666326774/noavatar_rxbrbk.png' %>"
              alt="user-image"
            />
          </div>
          <textarea hidden id="userImageUrl" name="img"></textarea>
          <div class="input-group mt-3">
            <input
              type="file"
              class="form-control py-3"
              accept="image/*"
              id="userImage"
              placeholder="Company Logo"
            />
            <label class="input-group-text text-bg-danger" for="userImage">
              <button class="btn btn-danger" type="submit">Upload</button>
            </label>
          </div>
        </div>
        <!-- Images End -->
        <% } %>
      </form>
    </div>

    <%- include('./layouts/footer.ejs') %>
  </body>
</html>
