<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layouts/imports') %>
    <title>Real Estate</title>
</head>

<body>
  <%- include('./layouts/navbar.ejs') %>
    <div class="container-md">
      <div class="row">
        <div class="d-flex justify-content-center position-fixed bg-white menu-toggle shadow-sm">
          <button id="menu-btn" class="btn btn-danger mx-3 mb-1 w-100 d-block d-sm-none sticky-top">
              <i class="fa-solid fa-bars"></i>
          </button>
      </div>
        <div id="filter-menu" class="col-lg-3 col-md-4 col-sm-5 my-3 px-3 py-2 bg-white shadow-sm d-none d-sm-block mt-search">

          <!-- Sale or Rent -->
          <nav class="nav nav-tabs nav-fill">
            <a id="saleBtn" class="nav-link me-1 text-dark" href="/sale">Sale</a>
            <a id="rentBtn" class="nav-link text-dark" href="/rent">Rent</a>
          </nav>
          <!-- Sale or Rent End -->

          <form action="/<%= path %>" method="GET">

            <!-- Location -->
            <div class="address my-3">
              <h5>Location</h5>
              <select class="form-select city" id="city" name="city">
                <option hidden value="404">All Cities</option>
                <% cities.forEach((city)=>{ %>
                  <option <%=filters.city==city.dataValues.id && 'selected' %> class="<%= city.dataValues.id %>"
                     value="<%= city.dataValues.id %>"> <%= city.dataValues.name %>
                  </option>
                  <% }) %>
              </select>
              <select class="form-select my-2 district" id="district" name="district">
                <option hidden value="404">
                  All Districts
                </option>
                <% districts.forEach((district)=>{ %>
                  <option <%=filters.district==district.dataValues.id && 'selected' %> class="<%= district.dataValues.CityId %>"
                      value="<%= district.dataValues.id %>">
                        <%= district.dataValues.name %>
                  </option>
                  <% }) %>
              </select>
            </div>
            <!-- Location End -->

            <!-- Price -->
            <div class="my-3">
              <h5>Price</h5>
              <div class="d-flex align-items-center">
                <input class="form-control w-50 me-2" max="999999999" type="number" name="lowestprice"
                  value="<%= filters.lowestprice %>" placeholder="Lowest" />TL
                <input class="form-control w-50 mx-2" max="999999999" type="number" name="highestprice"
                  value="<%= filters.highestprice %>" placeholder="Highest" />TL
              </div>
            </div>
            <!-- Price End -->

            <!-- Gross m² -->
            <div class="my-3">
              <h5>Gross m²</h5>
              <div class="d-flex align-items-center">
                <input class="form-control w-50 me-2" max="99999" type="number" name="lowestmeter"
                  value="<%= filters.lowestmeter %>" placeholder="Lowest" />m²
                <input class="form-control w-50 mx-2" max="99999" type="number" name="highestmeter"
                  value="<%= filters.highestmeter %>" placeholder="Highest" />m²
              </div>
            </div>
            <!-- Gross m² End -->

            <div class="d-flex justify-content-between my-3">

              <!-- Number of Rooms -->
              <div>
                <h5>Rooms</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="rooms" value="1+0" <%=filters.rooms &&
                    filters.rooms.includes("1+0") && 'checked' %> />
                  <label class="form-check-label">
                    1+0
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="rooms" value="1+1" <%=filters.rooms &&
                    filters.rooms.includes("1+1") && 'checked' %> />
                  <label class="form-check-label">
                    1+1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="rooms" value="2+1" <%=filters.rooms &&
                    filters.rooms.includes("2+1") && 'checked' %> />
                  <label class="form-check-label">
                    2+1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="3+1" name="rooms" <%=filters.rooms &&
                    filters.rooms.includes("3+1") && 'checked' %> />
                  <label class="form-check-label">
                    3+1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="4+1" name="rooms" <%=filters.rooms &&
                    filters.rooms.includes("4+1") && 'checked' %> />
                  <label class="form-check-label">
                    4+1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="4+2" name="rooms" <%=filters.rooms &&
                    filters.rooms.includes("4+2") && 'checked' %> />
                  <label class="form-check-label">
                    4+2 and above
                  </label>
                </div>
              </div>
              <!-- Number of Rooms End -->

              <!-- Number of Bathrooms -->
              <div>
                <h5>Bathrooms</h5>
                <% for(let i=0;i<6;i++){ %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="bathrooms" value="<%= i %>"
                      <%=filters.bathrooms && filters.bathrooms.includes(i.toString()) && 'checked' %> />
                    <label class="form-check-label">
                      <%= i==0 ? 'None' : (i==5 ? '5 and above' : i ) %>
                    </label>
                  </div>
                  <% } %>
              </div>
              <!-- Number of Bathrooms End -->
            </div>



            <div class="d-flex justify-content-between my-3">

              <!-- Building Ages -->
              <div>
                <h5>Building Age</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="0" name="buildingAge" <%=filters.buildingAge &&
                    filters.buildingAge.includes("0") && 'checked' %> />
                  <label class="form-check-label">
                    New Building
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="5" name="buildingAge" <%=filters.buildingAge &&
                    filters.buildingAge.includes("5") && 'checked' %> />
                  <label class="form-check-label">
                    1-5
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="10" name="buildingAge" <%=filters.buildingAge
                    && filters.buildingAge.includes("10") && 'checked' %> />
                  <label class="form-check-label">
                    6-10
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="buildingAge" value="16" <%=filters.buildingAge
                    && filters.buildingAge.includes("16") && 'checked' %> />
                  <label class="form-check-label">
                    11-16
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="buildingAge" value="20" <%=filters.buildingAge
                    && filters.buildingAge.includes("20") && 'checked' %> />
                  <label class="form-check-label">
                    16-20
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="buildingAge" value="100" <%=filters.buildingAge
                    && filters.buildingAge.includes("100") && 'checked' %> />
                  <label class="form-check-label">
                    21 and above
                  </label>
                </div>
              </div>
              <!-- Building Ages End -->

              <!-- Number of Floors -->
              <div>
                <h5>Floor</h5>
                <% for(let i=0;i<6;i++){ %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="floor" value="<%= i %>" <%=filters.floor &&
                      filters.floor.includes(i.toString()) && 'checked' %> />
                    <label class="form-check-label">
                      <%= i==0 ? 'Ground Floor' : (i==5 ? '5 and above' : i ) %>
                    </label>
                  </div>
                  <% } %>

              </div>
              <!-- Number of Floors End -->
            </div>

            <!-- Furnished Selector -->
            <div class="my-3">
              <h5>Furnished</h5>
              <select class="form-select" name="hasFurnish">
                <option <%=filters.hasFurnish=='all' && 'selected' %> value="all">All</option>
                <option <%=filters.hasFurnish=='true' && 'selected' %> value="true">Yes</option>
                <option <%=filters.hasFurnish=='false' && 'selected' %> value="false">No</option>
              </select>
            </div>
            <!-- Furnished Selector End -->

            <!-- Elevator Selector -->
            <div class="my-3">
              <h5>Elevator</h5>
              <select class="form-select my-2" name="hasElevator">
                <option <%=filters.hasElevator=='all' && 'selected' %> value="all">All</option>
                <option <%=filters.hasElevator=='true' && 'selected' %> value="true">Yes</option>
                <option <%=filters.hasElevator=='false' && 'selected' %> value="false">No</option>
              </select>
            </div>
            <!-- Elevator Selector -->

            <!-- Balcony Selector -->
            <div class="my-3">
              <h5>Balcony</h5>
              <select class="form-select" name="hasBalcony">
                <option <%=filters.hasBalcony=='all' && 'selected' %> value="all">All</option>
                <option <%=filters.hasBalcony=='true' && 'selected' %> value="true">Yes</option>
                <option <%=filters.hasBalcony=='false' && 'selected' %> value="false">No</option>
              </select>
            </div>
            <!-- Balcony Selector End -->

            <!-- On Housing Estate Selector -->
            <div class="my-3">
              <h5>On Housing Estate</h5>
              <select class="form-select my-2" name="isInHousingEstate">
                <option <%=filters.isInHousingEstate=='all' && 'selected' %> value="all">All</option>
                <option <%=filters.isInHousingEstate=='true' && 'selected' %> value="true">Yes</option>
                <option <%=filters.isInHousingEstate=='false' && 'selected' %> value="false">No</option>
              </select>
            </div>
            <!-- On Housing Estate Selector End -->

            <!-- Search and Reset Buttons -->
            <div class="search-area sticky-bottom d-flex justify-content-between w-100 border-top py-2 bg-white">
              <button type="submit" class="btn btn-danger w-100">
                Search
              </button>
            </div>
            <!-- Search and Reset Buttons End -->
          </form>
        </div>

        <!-- Search Results -->
        <div class="col-lg-9 col-md-8 col-sm-7 my-3 mt-search">

          <!-- Count of Results -->
          <div
            class="p-3 border-bottom bg-white shadow-sm mb-2 d-flex justify-content-between align-items-center">
            <h5 class="text-center fw-normal fs-4">
               <%= count %> results found
               
            </h5>
            <a href="/<%= path %>">
            <button class="btn">Clear All Filters <i class="fa-solid fa-xmark ms-2"></i></button>
            </a>
          </div>
          <!-- Count of Results End -->

          <!-- Results -->
          <div class="houses">

            <% if(houses.length> 0){ %>

              <% houses.forEach((house,index)=>{ %>

                <!-- House Card -->
                <div class="m-0 p-0">
                  <div class="row bg-white shadow-sm my-3 mx-1">

                    <!-- Image Area -->
                    <div class="col-lg-4 p-2 position-relative">
                      <a href="/houses/<%= house.dataValues.id %>" class="col-lg-4">
                        <img class="w-100 h-100 house-image" src="<%= house.dataValues.imageUrls[0] %>"
                          alt="house-image" />
                      </a>
                      <a href="/houses/<%= house.dataValues.id %>/favorite">
                        <button class="btn btn-outline-danger position-absolute favorite-btn">
                          <% if(favs[index]){ %>
                            <i class="fa-solid fa-heart"></i>
                            <% }else{ %>
                              <i class="fa-regular fa-heart"></i>
                              <% } %>
                        </button>
                      </a>
                    </div>
                    <!-- Image Area End -->

                    <!-- Info Area -->
                    <div class="col-lg-8 p-2 lh-sm">
                      <a href="/houses/<%= house.dataValues.id %>">
                        <div class="d-flex justify-content-between pe-3">
                          <p class="fs-4 fw-bold price">
                            <%= house.dataValues.price %> TL
                          </p>
                          <p class="fs-5 text-muted">
                            <%= moment(house.dataValues.updatedAt).format('DD.MM.YYYY') %>
                          </p>
                        </div>
                        <p class="fs-5 fw-semibold">
                          <%= house.dataValues.title %>
                        </p>
                        <p class="fs-5">
                          <%= house.dataValues.type.toUpperCase() %> | <%= house.dataValues.rooms %> | <%=
                                house.dataValues.grossSquareMeter %>m² | Age <%= house.dataValues.buildingAge%> | <%=
                                    house.dataValues.floor %>. Floor
                        </p>
                      </a>
                      <div class="d-flex justify-content-between">
                        <a href="/houses/<%= house.dataValues.id %>" class="fs-6 text-muted w-75">
                          <i class="fa-solid fa-location-dot"></i>
                          <%= house.dataValues.District.dataValues.name %> / <%= house.dataValues.City.dataValues.name
                              %>
                        </a>
                        <div class="text-end pe-2 d-flex align-items-center justify-content-end">
                          <a class="fs-3" href="/accounts/<%= house.User.dataValues.id %>">
                            <img src="<%= house.User.dataValues.imageUrl %>" alt="user-image" class="mini-image h-25" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- Info Area End -->

                  </div>
                </div>
                <!-- House Card End -->

                <% }) %>

                  <!-- Pagination -->
                  <nav class="d-flex justify-content-center mt-3">
                    <ul class="pagination">
                      <li class="page-item">
                        <% if(originalUrl==='/sale?page='+page || originalUrl === '/sale' ){ %>
                          <a class="page-link <%= page==1 && 'disabled' %>"
                            href="/sale?page=<%= Number(page) - 1 %>"><span>&laquo;</span></a>
                          <% }else if( originalUrl==='/rent?page='+page || originalUrl === '/rent'  ){ %>
                            <a class="page-link <%= page==1 && 'disabled' %>"
                              href="/rent?page=<%= Number(page) - 1 %>"><span>&laquo;</span></a>
                      <% }else{ %>
                        <a class="page-link <%= page==1 && 'disabled' %>"
                          href="<%= urlForPage %>isInHousingEstate=<%= filters.isInHousingEstate %>&page=<%= Number(page) - 1 %>"><span>&laquo;</span></a>
                        <% } %>
                          </li>
                          <% for(let i=1; i<=(count%10===0 ? count/10 : count/10 +1 );i++){ %>
                            <li class="page-item">
                              <% if(originalUrl ==='/sale?page='+page || originalUrl === '/sale' ){ %>
                                <a class="page-link <%= page == i && 'active' %> " href="/sale?page=<%= i %>">
                                  <%= i %>
                                </a>
                               <% }else if( originalUrl==='/rent?page='+page || originalUrl === '/rent' ){ %>
                              <a class="page-link <%= page == i && 'active' %> " href="/rent?page=<%= i %>">
                                <%= i %>
                              </a>
                              <% }else{ %>
                                <a class="page-link <%= page == i && 'active' %> "
                                  href="<%= urlForPage %>isInHousingEstate=<%= filters.isInHousingEstate %>&page=<%= i %>">
                                  <%= i %>
                                </a>
                                <% } %>
                              </li>
                                    <% } %>
                                    <li class="page-item">
                                    <% if(originalUrl==='/sale?page='+page || originalUrl === '/sale' ){ %>
                                        <a class="page-link <%= count%10 === 0 ? (page==count/10 && 'disabled') : (page>count/10 && 'disabled') %>"
                                          href="/sale?page=<%= Number(page) + 1 %>"><span>&raquo;</span></a>
                                    <% }else if( originalUrl==='/rent?page='+page || originalUrl === '/rent' ){ %>
                                        <a class="page-link <%= count%10 === 0 ? (page==count/10 && 'disabled') : (page>count/10 && 'disabled') %>"
                                            href="/rent?page=<%= Number(page) + 1 %>"><span>&raquo;</span></a>
                                    <% }else{ %>
                                      <a class="page-link <%= count%10 === 0 ? (page==count/10 && 'disabled') : (page>count/10 && 'disabled') %>"
                                        href="<%= urlForPage %>isInHousingEstate=<%= filters.isInHousingEstate %>&page=<%= Number(page) + 1 %>"><span>&raquo;</span></a>
                                    <% } %>
                                    </li>
                    </ul>
                  </nav>
                  <!-- Pagination End -->
                  <% }else{ %>

                    <!-- Empty Message -->
                    <div class="empty text-center bg-white shadow-sm py-5 mt-2 mb-3 px-3">
                      <i class="fa-solid fa-magnifying-glass-minus text-danger big-icon mb-5"></i>
                      <h1 class="my-2">Sorry, houses not found.</h1>
                      <p class="fs-5 text-muted">It might be helpful to expand your criteria.</p>
                    </div>
                    <!-- Empty Message End -->

                    <% } %>

          </div>
          <!-- Results End -->

        </div>
        <!-- Search Results End -->
      </div>
    </div>
    <%- include('./layouts/footer') %>
</body>

</html>