<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layouts/imports.ejs') %>
    <title>Real Estate | Create Account</title>
  </head>
  <body>
    <%- include('./layouts/navbar.ejs') %>

    <div class="container-md d-flex justify-content-center align-items-center flex-column py-5">
      <form class="form-div p-3 mb-2" action="/auth/signup" method="POST">
            <h1 class="text-center mb-5">Create Account</h1>

            <!-- Account Type Selector -->
            <div class="fs-5 d-flex align-items-center auth-type mx-auto">
              <p class="toggle-left-label">Individual</p>
              <div class="form-check form-switch mb-3">
                <input class="form-check-input fs-3 me-1" type="checkbox" <%= isCorporate ? 'checked' : null %> role="switch" id="authType" name="accountType" value="true">
              </div>
              <p class="ms-1">Corporate</p>
            </div>
            <!-- Account Type Selector End -->

            <!-- Error Message -->
            <% if(message){ %>
              <div class="text-bg-danger form-control p-3 mb-3">
                <i class="fa-solid fa-triangle-exclamation me-2"></i>
                <%= message %>
              </div>
            <% } %>
              <!-- Error Message End -->

          <!-- User Informations -->
            <!-- Fullname Area -->
            <div class="input-group mt-3">
              <span class="input-group-text bg-danger text-white">
                <i class="fa-solid fa-user"></i>
              </span>
              <div class="form-floating">
                  <input type="text" class="form-control" name="fullName" placeholder="Full Name" required>
                  <label for="fullName">Full Name</label>
              </div>
            </div>
            <% if(fullNameError){ %>
              <p class="text-danger"><%= fullNameError %></p>
            <% } %>
            <!-- Fullname Area End -->

            <!-- Email Area -->
            <div class="input-group mt-3">
              <span class="input-group-text bg-danger text-white">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <div class="form-floating">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
                <label for="email">Email</label>
              </div>
            </div>
            <% if(emailError){ %>
              <p class="text-danger"><%= emailError %></p>
            <% } %>
            <!-- Email Area End -->
            
            <!-- Phone Area -->
            <div class="input-group mt-3">
              <span class="input-group-text bg-danger text-white">
                <i class="fa-solid fa-phone"></i>
              </span>
              <div class="form-floating">
                  <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
                  <label for="phone">Phone</label>
              </div>
            </div>
            <% if(phoneError){ %>
              <p class="text-danger"><%= phoneError %></p>
            <% } %>
            <!-- Phone Area End -->
            
            <!-- Password Area -->
            <div class="input-group mt-3">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa fa-lock"></i>
                </span>
                <div class="form-floating">
                    <input class="form-control password" type="password" name="password" required placeholder="Password">
                    <label for="password">Password</label>
                </div>
            </div>
            <% if(passwordError){ %>
              <p class="text-danger"><%= passwordError %></p>
            <% } %>
            <!-- Password Area End -->
          <!-- User Informations End -->

            <!-- Company Informations -->
            <div class="<%= isCorporate ? 'd-block' : 'd-none' %>" id="corporateArea">
              <p class="fs-5 text-center fw-bold">Company Informations</p>

              <!-- Company Type -->
              <div class="d-flex justify-content-between my-2">
                <div class="form-check me-3 fs-5">
                  <input class="form-check-input" type="radio" name="type" id="realEstate" checked value="Real Estate Office">
                  <label class="form-check-label" for="realEstate">
                    Real Estate Office
                  </label>
                </div>
                <div class="form-check fs-5">
                  <input class="form-check-input" type="radio" name="type" id="buildingCompany" value="Building Company">
                  <label class="form-check-label" for="buildingCompany">
                    Building Company
                  </label>
                </div>
              </div>
              <!-- Company Type End -->

              <!-- Company Name -->
              <div class="input-group mt-3">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa-solid fa-building"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Company Name">
                    <label for="companyName">Company Name</label>
                </div>
              </div>
              <% if(companyNameError){ %>
                <p class="text-danger"><%= companyNameError %></p>
              <% } %>
              <!-- Company Name End -->

              <!-- Company Address -->
              <div class="input-group mt-3">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa-solid fa-location-dot"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" name="companyAddress" id="companyAddress" placeholder="Company Address">
                    <label for="companyAddress">Company Address</label>
                </div>
              </div>
              <% if(companyAddressError){ %>
                <p class="text-danger"><%= companyAddressError %></p>
              <% } %>
              <!-- Company Address End -->

            </div>
            <!-- Company Informations End -->

            <div class="mb-3 mt-2">
              <input class="form-check-input me-1" type="checkbox" id="terms" name="terms" value="yes">
              <label class="form-check-label" for="terms">
                  I agree the <em href="#">Terms of Service</em> and <em href="#">Privacy Policy</em>.
              </label>
          </div>
            <button type="submit" id="submitBtn" class="btn btn-danger form-control fs-5 <%= !again && 'disabled' %> ">Create Account</button>
            <div class="text-center">
            <p class="fs-5 my-4">You already have an account?</p>
            <a href="/auth/login">
                <button type="button" class="btn btn-outline-danger w-100 fs-5">Login</button>
            </a>
        </div>
      </form>
    </div>

    <%- include('./layouts/footer.ejs') %>
  </body>
</html>
